@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  * {
    font-size: 105%;
  }
}
@media screen and (min-width: 1200px) {
  * {
    font-size: 110%;
  }
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.logo {
  display: none;
}
@media (min-width: 768px) {
  .logo {
    height: auto;
    width: auto;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.title {
  width: 97%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #eff0f4;
  border-radius: 5px/5px;
  text-align: center;
  font-size: 1.6rem;
  color: #5a5656;
  border-bottom-style: outset;
  border-bottom-color: grey;
}
@media (min-width: 768px) {
  .title {
    margin-top: inherit;
    font-size: 1.8rem;
  }
}

h2 {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px/5px;
  font-size: 1.2rem;
  color: black;
}

.btn {
  padding: 4.5px 7.5px;
  margin-bottom: 1.3rem;
  border: 0.1125rem solid #1d9a8d;
  width: 45%;
  max-width: 125px;
  color: #fff;
  background: #1d9a8d;
  font-size: 0.9rem;
  font-weight: bolder;
  letter-spacing: auto;
  display: block;
  cursor: pointer;
  border-radius: 10rem;
  transition: transform 300ms;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn {
    max-width: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    max-width: 150px;
  }
}
.btn:hover {
  background: #ccfffa;
  color: #1d9a8d;
  box-shadow: 0 0 0.3em #1d9a8d;
  transform: scale(1.05);
}

.btn--cancel {
  background: #c94754;
  color: #fff;
  border: 0.1125rem solid #a09597;
  transition: 0.3s;
}
.btn--cancel:hover {
  background: #ffccd1;
  color: #c94754;
}

.btn--center {
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}

.form {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.245rem;
  font-size: 1rem;
}

.form__field {
  margin-bottom: 1rem;
  font-size: inherit;
}

.form__field label {
  font-size: inherit;
  display: block;
  margin-bottom: 0.7rem;
  /* margin-top: -0.6225rem; */
}

.form__field input {
  font-size: inherit;
  padding: 1.5px;
  width: 100%;
  box-sizing: border-box;
  border: 0.075rem solid #1d1b1b;
  border-radius: 5px/5px;
}
.form__field input:focus {
  background-color: #eff0f4;
}

.res-grid {
  display: grid;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .res-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .res-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.fas {
  color: #1d9a8d;
  padding-left: 15px;
  font-size: 1.2rem;
  display: inline;
  float: right;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}
.fas:hover {
  color: black;
  opacity: 0.8;
  transform: scale(1.15);
}

.result {
  width: 90%;
  margin: auto;
  background-color: #eff0f4;
  padding: 7.5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  height: 350px;
  border: 0.075rem solid #cccccc;
  border-radius: 5px/5px;
  transition: 0.3s;
}
.result:hover {
  box-shadow: 0 0 0.3em #1d9a8d;
  transform: scale(1.05);
  background: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .result {
    height: 470px;
  }
}
@media screen and (min-width: 1200px) {
  .result {
    height: 500px;
  }
}

.result__info h3 {
  font-size: 0.9rem;
}

.result__info p {
  font-size: 0.9rem;
}

.result__info--title {
  display: inline;
}

.result__img {
  margin-top: auto;
  overflow: hidden;
}

.result__img img {
  height: auto;
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .result__img img {
    width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .result__img img {
    width: 180px;
  }
}/*# sourceMappingURL=style.css.map */